<!DOCTYPE html>
<html>
  <head>
    <title>Sokkuri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <div class="jumbotron">
    <h1>soKKuri?</h1>
    似てる？似てない？芸能人・有名人どうしの「そっくりさん」をあなたが判定してね
    </br>
  </div>
    <%= yield %>
  </body>
</html>
